<ion-header [translucent]="true">
  <ion-toolbar class="menu-bar" (click)="this.navigator.navigateTo('/home/')">
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/welcome1.jpg" width="100%" height="auto" />
  <ion-toolbar class="page-title">Welcome</ion-toolbar>
  <div class="page-content">
    <p><b>Hon. Ishmael Toroama</b></p>
    <p>President, Autonomous Region of Bougainville</p>
    <p>Welcome all our valued clients to the Bougainville Cocoa ‘’Mobile based Cocoa app’’ and it is a great pleasure to invite you to use and make the most out this new Agricultural Research, development and extension technological platform.</p>
    <p>This is an important technological development in regards to transfer of information and technologies for cocoa, fresh produce, livestock as well as Cocoa Marketing news and update not only to farmers but also to entrepreneurs, DPI and Cocoa board officers, students & teachers and any other interested person alone the Cocoa value chain and the general farming sectors in Bougainville (or PNG).</p>
    <p>Cocoa is an important commodity for the Bougainville’s Economy as it brings significant revenue to the Autonomous Region of Bougainville which helps the farmers improve their livelihoods. The information in the Cocoa app provides information on how we can improve our annual cocoa production which had shrunk from over 20,000  tonnes to around 10,000 tonnes since 2009. Among other information, it is my wish and believe that Bougainville Cocoa beans must be ranked one of best in Quality and flavor (or 90-100% fine flavored) beans through better fermentation and drying equipment with great emphasis on solar drying or a combination of Solar and kiln hot air drying and thus eliminating or reducing the problem of smoke tainted beans. Market and trade of Cocoa Bougainville to international buyers need to strengthen through this app.</p>
    <p>On behalf of my Government (the Autonomous Bougainville Government) I wish to acknowledge and thank the tireless contributions of many professional scientists, researchers Academics and experts from various International and national organization, more specifically to the Australian Aid funded  ‘’DPI/ACIAR Project : HORT 2014/094: Developing Cocoa Value Chain in Bougainville’’) with Partners (University of Sydney, PNG University of Natural Resources and Environment, Cocoa Board of PNG, and the ABG-Department of Primary Industries).</p>
    <p>I Fully acknowledge the Developer of this Cocoa app and certainly invite all users of the Cocoa app in Bougainville, PNG and the rest of the world to enjoy and learn as much as you can while taking advantage of this new technological platform. The App will be updated with new information regularly as new information becomes available and please share this app with other mobile phones users so that we can reach as many people as possible especially in the farming communities.</p>
    <p>Thank You all for using the Bougainville app. <b>Go Bougainvillle Cocoa!</b></p>
  </div>
</ion-content>
