<ion-header [translucent]="true">
  <ion-toolbar class="menu-bar" (click)="this.navigator.navigateTo('/home/')">
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="page-title">Bougainville Cocoa</ion-toolbar>
  <div class="page-content">
    <p><b>Cocoa was originally planted in Bougainville by German colonists and missionaries and their plantations appropriated under Australian administration following World War 1. The industry flourished but was again disrupted by invasion and fighting during World War 2. Cocoa production recovered on large plantations and by 1988 Bougainville was the leading cocoa producer, had the highest life expectancy, lowest infant mortality, second highest schooling rate and second highest per capita income of any Province in PNG.</b></p>
    <p>The Bougainville Crisis “cooked” nearly all infrastructure including roads, schools and hospitals and by the end of the conflict in 1999 Bougainville ranked at the bottom of all development rankings in PNG. Reconstruction policies targeted raising income and improving access to basic services and efforts focussed on rehabilitating the island’s cocoa industry, with significant investments in farmer training</p>
    <p>With the recent vote to become independent, cocoa remains an important source of foreign income and the basis of a sustainable economy to support the growth of Bougainville. This will require a significant improvement in productivity, cocoa quality, infrastructure and marketing. The Bougainville Chocolate Festivals have shown that the enthusiasm and initiative that currently exists forms a sound foundation for these improvements</p>
    <p>There are many businesses linked to cocoa as well as farming. These include cocoa nurseries, budding and grafting, block rehabilitation and management, compost and fertiliser supply, labour supply, fermentation and drying, trading and marketing, finance, extension and training. Successful businesses are most likely if families plan and work together, children are educated and they look after their nutrition and health.</p>
    <p>This tool is designed to support training activities coordinated by the ABG-DPI and ACIAR aimed at increasing the productivity, sustainability and resilience of cocoa farming in Bougainville. It also provides a rapid diagnostic tool for pests and diseases of cocoa, food crops, livestock and farming families that is designed to guide the user to more detailed sources of information and support.  We know that poor health is a factor that impacts on productivity so we have included topics such as water, sanitation, maternal and child health, nutrition and recognising a sick child</p>
    <img src="/assets/Bougainville-cocoa/Aus Centre for International Agricultural Research logo.png"><br>
    <img src="/assets/Bougainville-cocoa/Autonomous Bougainville Government.png"><br>
    <img src="/assets/Bougainville-cocoa/Usyd Logo.gif">
  </div>
</ion-content>
